* {
  all: unset;
}


.top_bar {
  font-weight: bold;
  font-size: 16px;
}


/* top bar box mixin */
@mixin top_bar_box($color) {
  border: 2px solid;
  border-radius: 10px;

  border-color: $color;

  padding: 2px 5px;
}


/* top bar widgets */
@import './styles/W_clock.scss';
@import './styles/W_bat.scss';
@import './styles/W_audio_bright.scss';
@import './styles/W_power.scss';
@import './styles/W_wifi.scss';
@import './styles/W_notification.scss';


/* POP widgets */
@import './styles/POP_power_menu.scss';
@import './styles/POP_vol_bright.scss';
@import './styles/POP_wifi_menu.scss';


/* scale */
scale trough {
  min-height: 14px;
  border-radius: 10px; 
  border: 1px solid;
  border-color: #181825;
}


/* #### top bar right division #### */
.right_side {
  margin-top: 15px;
  margin-right: 20px;
}

.left_side {
  margin-top: 15px;
  margin-left: 20px;
}

