$pop_window_border_color: #cdd6f4; 

.ssid_weak {
  color: #f38ba8;
}

.ssid_medium {
  color: #b4befe;
}

.ssid_strong {
  color: #a6e3a1;

  &:hover {
    color: #11111b;
    transition: color 0.5s ease;
  } 
}

.POP_wifi_menu_main_box {
  background-color: #11111b; 

  border: 3px solid;
  border-radius: 10px;
  border-color: $pop_window_border_color;

  padding: 10px; 
}

.POP_wifi_menu_net_button { 
  border-radius: 10px;
  padding: 5px;

  label {
    font-size: 16px;
    font-weight: bold;
  }

  &:hover {
    background-color: #89b4fa;
    color: #11111b;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}

.POP_wifi_menu_form {
  background-color: #313244;
  padding: 5px;
  border-radius: 10px;

  box {
    background-color: #1e1e2e;
    border-radius: 10px;

    label {
      font-size: 18px;   
      font-weight: bold;
      color: #cdd6f4;

      padding-left: 8px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.wifi_menu_connect_button {
  padding: 4px;
  background-color: #1e1e2e; 
  border-radius: 10px;
  color: #b4befe;
  font-weight: bold;

  &:hover {
    background-color: #b4befe;
    color: #11111b;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}
