.urgency_urgent {
  color: #f38ba8;
  border-color: #f38ba8;
}

.urgency_important {
  color: #89dceb;
  border-color: #89dceb;
}

.urgency_normal {
  color: #b4befe;
  border-color: #b4befe;
}

.notification {
  border-radius: 20px;

  font-size: 20px;
  font-weight: bold;
  
  padding: 2px 5px;

  background-color: #000000;

  label {
    margin-right: 15px;
  }

  image {
    margin-left: 15px;
  }

  }
