.urgency_urgent {
  color: #f38ba8;
  border-color: #f38ba8;
}

.urgency_important {
  color: #89dceb;
  border-color: #89dceb;
}

.urgency_normal {
  color: #b4befe;
  border-color: #b4befe;
}

.notification {
  border-radius: 10px;
  border: 2px solid;

  font-size: 16px;
  font-weight: bold;
  
  padding: 2px 5px;

  background-color: #11111b;

  image {
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  }
