/* #### POWER MENU SCSS #### */
$power_color: #f38ba8;
.power_box {
  @include top_bar_box($power_color);

  padding-left: 8px;
  padding-right: 11px;
  color: $power_color;

  &:hover {
    background-color: $power_color;
    color: #11111b;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}


